<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ('../partials/mainCss.ejs') %>
</head>

<body>
    <h1> The method <%= search%>, <%= name%> was called on the /user route </h1>
    <h1>je suis de <%=ville%></h1>
 
</body>

</html>